*{
  margin: 0;
  padding: 0;
}
body{
  background: black
}

header {
  background-color:#CDCDCD;
  color: 000000;
  justify-content: space-around;
  padding: 40px;
  margin: 60px
  }

  .lista{
  position: absolute;
  width: 800px;
  height: 180px;
  left: 1000px;
  top: 100px;
  padding-right: 90px;
  position:absolute;
  }

.imagem{
  width: 150px;
  height: 150px;
  left:70px;
  top:70px;
}

.item{
  display: inline-block;
  margin: 40px;
  font-size: 24px;
}


.h1{
  position: absolute;
  width: 200px;
  height: 250px;
  left: 100px;
  top: 400px;
  color: white
}
.ket{
  margin: 100px;
  color: white
}
.listaket{
  font-size: 50px;
  margin-left: 70px;
}

.poesia{
  position: absolute;
  height: 800px;
  left: 100px;
  top: 800px;
  color: white;
}
.kkkk{
  color: white
}
.teste{
  font-size: 20px;
  background-color: #CDCDCD;
  padding-left: 90px;
}
footer{
  background: #FFFFFF;
}