header {
  background-color:#CDCDCD;
  color: 000000;
  justify-content: space-around;
  padding: 40px;
  margin: 60px
  }

  ul{
  position: absolute;
  width: 800px;
  height: 180px;
  left: 1000px;
  top: 100px;
  }

.lista{
  padding-right: 90px;
  position:absolute;
  }

.imagem{
  width: 150px;
  height: 150px;
  left:70px;
  top:70px;
}

.item{
  display: inline-block;
  margin: 0 40px;
  font-size: 24px;
}

*{
  margin: 0;
  padding: 0;
}
body{
  background: black
}

h1{
  position: absolute;
  width: 200px;
  height: 250px;
  left: 100px;
  top: 400px;
  color: white
}
